@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/background/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper .form-box.login{
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;  
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
}

.wrapper.active {
    height: 680px;
}

.wrapper .form-box.register {
    position: relative;
    width: 550px;
    height: 700px;
    display: flex;  
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper img {
    width: 80px;
    height: 90px;
    margin-left: -20px;
    margin-top: 15px;
    border-radius: 5px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: red;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

.wrapper.active .form-box.register {
    transition: transform .60s ease;
    transform: translateX(0);
}


.wrapper h1 {
    font-family: Holtwood One SC;
    font-size: 25px;
    font-weight: initial;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -10px 0 20px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper button {
    font-family: Holtwood One SC;
    font-weight: initial;
    font-size: 15px;
    color: #fff;
    width: 100%;
    height: 45px;
    background: red;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;  
}

.wrapper .authentication-social {   
    font-size: 14.5px;
    text-align: center;
    margin: 15px 0 15px;
}

.authentication-social .separator {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px;
}

.authentication-social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 100%;
    height: 50px;
    font-weight: 500;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    border: none;
    outline: none;
    margin-bottom: 5px;
}

.authentication-social .google {
    color: #757575;
    background-color: white;
    border: 1px solid #dadce0;
}

.google i {
    margin-right: 10px;
    font-size: 20px;
}

.authentication-social .google:hover {
    background-color: #f7f7f7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.authentication-social .fb {
    color: #fff;
    background-color: #1877f2;
    border: 1px solid #1877f2;
}

.fb i {
    margin-right: 10px;
    font-size: 20px;
}

.authentication-social .fb:hover {
    background-color: #1659d4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.wrapper .agree {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -10px 0 20px;
    justify-content: center;
    align-items: center;
}

.agree label a {
    color: #1659d4;
    font-size: medium;
    font-weight: 600;
}

.agree label input {
    accent-color: #fff;
    margin-right: 5px;
}

.agree a {
    color: #fff;
    text-decoration: none;
}

.agree a:hover {
    text-decoration: underline;
}

.wrapper .loginLink {
    font-size: 14.5px;
    text-align: center;
    margin: 15px 0 15px;
}

.loginLink p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.loginLink p a:hover {
    text-decoration: underline;
}

.form-box.register .text-danger {
    color: antiquewhite;
}
