* {
    margin: 0;
    padding: 0;   
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
  background: #eef;
}

footer {
    width: 100%;
    position: absolute;
    background: url(../img/background/backgr.jpg);
    padding: 60px 0 10px 0;
    border-top-left-radius: 125px;
    font-size: 14px;
    box-shadow: 0 0 8px #000;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    color: aliceblue;
}

.logo1 {
    width: 120px;
    height: 130px;
    margin-bottom: 30px;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
}

.col h3 {
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
    font-weight: bolder;
    color: rgb(255, 189, 103);
}

footer .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

.mail {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.mail .far {
    font-size: 18px;
    margin-right: 10px;
}

footer .mail .email {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.mail button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.mail button .fas {
    font-size: 16px;
    color: #ccc;
}

.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
    color: #fff;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0px;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}

@media (max-width:700px) {
    footer {
        bottom: unset;
    }
    .col {
        flex-basis: 100%
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}